streamlit==1.32.0
PyMuPDF==1.23.8
deep-translator==1.11.4
pandas==2.2.0
numpy==1.26.3
nltk==3.8.1
scikit-learn==1.4.0
tensorflow==2.15.0
pytesseract==0.3.10
Pillow==10.2.0
google-generativeai==0.3.2
langdetect==1.0.9
SpeechRecognition==3.10.1
